body{
	background-color: #C1C1C1;
	font-size: 18px;
}
.nav{
	width: 80%;
	padding: 5px;
	background-color: #F3F3F3;
	margin: auto !important;
	border-top-style: outset;
}
.nav ul{
	padding: 5px;
	margin: auto !important;
}
.nav ul li{
	display: inline-block;
	margin-right: 5px;
	font-size: 15px;
    text-align: center;
}
.nav ul li a{
	color: #6E6E6E;
	text-decoration: none;
}
.nav ul li:nth-child(7){
	margin-left: 550px;
}
.nav ul li a:hover, a:active{
	color: #000000;
}
.content{
	margin: auto !important;
	width: 80%;
	padding: 5px;
	background-color: #FFFFFF;
	min-height: 400px;
	max-height: 100%;
}
.content div:nth-child(1){
	padding-left: 20px;
}
.table-responsive{
	padding: 0 20px 0 20px;
	font-size: 10px;
}
.table-responsive table{
	border-radius: 5px;
}
.row{
	padding: 10px;
}
.row img{
	width: 100%;
}
.row a{
	border:1px solid #FF8040;
	background-color: #FFFFFF;
	padding: 5px;
	border-radius: 3px;
	font-size: 11px;
	text-decoration: none;
}
.row a:hover{
	background-color: #FF8040;
	color: #FFFFFF;
}
blockquote {
font-family: Georgia, serif;
font-size: 14px;
font-style: italic;
margin: 0.25em 0;
padding: 0.25em 40px;
line-height: 1.45;
position: relative;
color: #383838;
}
blockquote:before {
	display: block;
	content: "\201C";
	font-size: 50px;
	position: absolute;
	left: -4px;
	top: -10px;
	color: #7a7a7a;
}
blockquote cite {
color: #999999;
font-size: 14px;
display: block;
margin-top: 5px;
}
 
blockquote cite:before {
content: "\2014 \2009";
}
th{
	text-align: center;
}
.banner{
    width:100%;
    height: 50px;
    padding: 5px;
    background-color:#843534 ;
    margin-bottom: 20px !Important;

}
.top{
    width:100%;
    height: auto;
    padding: 5px;
    background-color:#c0a16b;
}
.banner  h4{
    margin-left: 150px;
    color: #f2dede;
}
.banner ul{
    text-decoration: none;
    margin-left: 100px;
}
.banner ul li{
    display: inline-block;
    font-family: Monaco;
    font-size: 30px;
}
.banner ul li:first-child{text-shadow: 1px 1px lightslategray}
.banner ul li:nth-child(2){
    font-size: 15px;
    margin-left: 900px;
}
.banner ul li a{
    color: #c0a16b;
    font-family: FontAwesome;
}
.banner ul li a:hover{color: #8a6d3b}
#alrt{ font-size: 12px;}
.emailForm{
    width: 50%;
}
.frm{
    padding: 20px;
}
.search{
    margin: 20px 20em 0 20em;
}
.submit1{
    margin:auto;
    top:0;
    margin-top:0;
}
.searchs{
    margin:0 100px 5px 100px;
}
